@charset "utf-8";
/**
 * UnifyFramework admin page styles
 *
 */
/* ----------------------------------------------------------------- UF Admin */
#uf_admin { margin-bottom: 50px; }



/* --------------------------------------------------------- UF Admin in Tags */
#uf_admin h2 { border-bottom: 1px solid #CCC; padding-bottom: 0; }
#uf_admin h3 { color: #007; }
#uf_admin dl { margin-bottom: 30px; }
#uf_admin dt { float: left; font-weight: bold; width: 180px; }
#uf_admin dd { padding-left: 180px; margin-bottom: 15px; }
#uf_admin hr { clear: both; margin: 0 0 30px; }



/* --------------------------------------------------------- UF Admin Options */
#uf_comment_allowd_pages { width: 450px; }



/* ------------------------------------------------------ UF Admin Custompost */
#uf_custom_posts_description { width: 400px; }
#uf_custom_posts_post_type_name { width: 250px; }
#uf_custom_posts_name { width: 250px; }
#uf_custom_psots_singular_name { width: 250px; }
#uf_custom_posts_add_new { width: 250px; }
#uf_custom_posts_add_new_item { width: 250px; }
#uf_custom_posts_edit { width: 250px; }
#uf_custom_posts_edit_item { width: 250px; }
#uf_custom_posts_new_item { width: 250px; }
#uf_custom_posts_view { width: 250px; }
#uf_custom_posts_view_item { width: 250px; }
#uf_custom_posts_search_item { width: 250px; }
#uf_custom_posts_not_found { width: 250px; }
#uf_custom_posts_not_found_in_trush { width: 250px; }
#uf_custom_posts_parent { width: 250px; }



/* ---------------------------------------------------- UF Admin custom class */
#uf_admin .caution { color: #C00; font-weight: bold; font-size: 12px; }



/* ---------------------------------------------------------- UI Tabs setting */
h2 .nav-tab { /* WordPress 3.0 like tab menu Style */
    border-color: #CCC #CCC #F9F9F9;
    border-style: solid;
    border-width: 1px 1px 0px;
    border-top-left-radius: 5px 5px;
    border-top-right-radius: 5px 5px;
    color: #C1C1C1;
    display: inline-block;
    font-size: 12px;
    line-height: 16px;
    margin: 0px 6px -1px 0px;
    padding: 4px 14px 6px;
    text-decoration: none;
    text-shadow: white 0px 1px 0px;
}

h2 .nav-tab {
    font: italic normal normal 24px/35px Georgia, 'Times New Roman', 'Bitstream Charter', Times, serif;
    padding: 4px 20px 6px;
}
h2 .nav-tab-avtive {
    border-width: 1px;
    color: #464646;
}



