@charset "utf-8";
/**
 * UnifyFramework admin page styles
 *
 */
/* ----------------------------------------------------------------- UF Admin */
#uf_admin { margin-bottom: 50px; }



/* --------------------------------------------------------- UF Admin in Tags */
#uf_admin h3 { color: #007; }
#uf_admin dl { margin-bottom: 30px; }
#uf_admin dt { float: left; font-weight: bold; width: 180px; }
#uf_admin dd { padding-left: 180px; margin-bottom: 15px; }
#uf_admin hr { clear: both; margin: 0 0 30px; }



/* --------------------------------------------------------- UF Admin Options */
#uf_comment_allowd_pages { width: 450px; }



/* ------------------------------------------------------ UF Admin Custompost */
#uf_custom_posts_description { width: 400px; }
#uf_custom_posts_post_type_name { width: 250px; }
#uf_custom_posts_name { width: 250px; }
#uf_custom_psots_singular_name { width: 250px; }
#uf_custom_posts_add_new { width: 250px; }
#uf_custom_posts_add_new_item { width: 250px; }
#uf_custom_posts_edit { width: 250px; }
#uf_custom_posts_edit_item { width: 250px; }
#uf_custom_posts_new_item { width: 250px; }
#uf_custom_posts_view { width: 250px; }
#uf_custom_posts_view_item { width: 250px; }
#uf_custom_posts_search_item { width: 250px; }
#uf_custom_posts_not_found { width: 250px; }
#uf_custom_posts_not_found_in_trush { width: 250px; }
#uf_custom_posts_parent { width: 250px; }



/* ---------------------------------------------------- UF Admin custom class */
#uf_admin .caution { color: #C00; font-weight: bold; font-size: 12px; }



/* ---------------------------------------------------------- UI Tabs setting */
.ui-tabs {}
.ui-tabs-nav {}
.ui-tabs-nav:after { content: "."; display: block; height: 0; clear: both; line-height: 0; visibility: hidden; }
.ui-tabs-nav li { float: left; margin-right: 10px; margin-bottom: -1px; }
.ui-tabs-nav li a {
    display: block;
    padding: 6px 4px;
    background: #EEE;
    border: 1px solid #666;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.ui-tabs-nav .ui-tabs-selected {}
.ui-tabs-nav li.ui-tabs-selected a, .ui-tabs-nav li.ui-tabs-active a { border-bottom: none; background: #FFF; padding-bottom: 7px; }
.ui-tabs-panel {
    z-index: 1000;
    background: #FFF;
    border: 1px solid #666;
    padding: 12px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

