@charset "utf-8";
/**
 * UnifyFramework layout Stylesheet
 *
 * @Author:  Nully
 * @Make:    2010/09/01(Wed)
 * @URL:     http://blog.nully.org/
 * @Updated:
 */
body { background-color: #e6e6e6; padding-top: 20px; }
a { text-decoration: none; }
a:visited, a:link { color: #0f2b4c; }
a:hover  { color: #1f569a; text-decoration: underline; }
#container { background: #FFF; padding-bottom: 10px; margin-bottom: 20px; }



/* ------------------------------------------------------------------- Header */
#header { margin-bottom: 20px; }
#header h1 { font-size: 3em; font-weight: bold; }
#header #description { font-size: 1.4em; margin-bottom: 10px; }
#header #navigation {}
#header #navigation ul li { float: left; position: relative; margin-right: 10px; }
#header #navigation ul li a {
    font-size: 1.4em;
    padding: 8px 10px;
    background: #fafafa;
    display: block;
    border-top: 1px solid #e6e6e6;
    border-right: 1px solid #e6e6e6;
    border-left: 1px solid #e6e6e6;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    -moz-border-top-right-radius: 3px;
    -moz-border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -webkit-border-top-left-radius: 3px;
}
#header #navigation ul ul {
    display: none;
    top: 35px;
    left: 0;
    position: absolute;
}
#header #navigation ul ul li {
    margin: 0;
    min-width: 180px;
}
#header #navigation ul ul li a {
    color: #BBB;
    background: #444;
    border: none;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
}
#header #navigation ul ul li a:hover {
    color: #EEE;
}
#header #navigation ul ul ul {
    top: 0;
    left: 100%;
}
#header #custom-header-image {
    border-top: 4px solid #444;
    border-bottom: 4px solid #444;
}


/* ------------------------------------------------------------------- Footer */
#footer {
    border-top: 4px solid #FFF;
    background: #595959;
    border-bottom: 4px solid #FFF;
}
#footer a {
    color: #FFF;
    text-decoration: underline;
}
#footer a:hover { color: #E9E9E9; }
#footer .widget { color: #F9F9F9; }
#footer .widget-title {}
#footer #footer-in {
    padding-top: 20px;
    padding-bottom: 20px;
}
#footer address {
    text-align: center;
    clear: both;
    color: #F9F9F9;
    padding: 20px 0 20px 0;
}


/* --------------------------------------------------------------- SearchForm */
#searchtitle {}
#searchform {}
#searchform #search-text { width: 96%; padding: 3px; font-size: 1.4em; color: #666; border: 1px solid #333; }
#searchform #search-submit { border: 1px solid #333; background: #ECECEC; font-size: 1.5em; }



/* ------------------------------------------------------------- MainContents */
#main-contents {}
#main-contents h2#page-title { font-size: 1.8em; font-style: italic; margin-bottom: 10px; }
#main-contents h2#page-title span { font-weight: bold; }
#main-contents .post { border-top: 4px solid #e6e6e6; margin-bottom: 20px; }
#main-contents .post .post_header_meta { padding:5px 0; font-size: 1.2em; }
#main-contents .post .author_name { float: left; }
#main-contents .post .post_date { float: right; }
#main-contents .post .post_title { font-size: 2.4em; }
#main-contents .post .post_title a:hover { text-decoration: underline; }
#main-contents .post .post_content { font-size: 1.4em; line-height: 1.6; margin-bottom: 20px; }
#main-contents .post .post_content .more-link { font-weight: bold; }
#main-contents .post .post_footer_meta { font-size: 1.2em; border-top: 1px solid #e6e6e6; padding: 5px 0; }
#main-contents .post .post_comments_count { float: left; }
#main-contents .post .post_tags { float: right; }



/* ----------------------------------------------------------- PageNavigation */
#uf-pagenavi { border-top: 4px solid #e6e6e6; border-bottom: 4px solid #e6e6e6; padding: 8px 0; font-size: 1.4em; margin-bottom: 20px; }
#uf-pagenavi .prev-post { float: left; }
#uf-pagenavi .next-post { float: right; }
#uf-pagenavi .page_numbers { padding: 3px 6px; background: #FFF; border: 1px solid #999; margin-right: 2px; margin-left: 2px; }
#uf-pagenavi .current_page { color: #FFF; background: #999; border-color: #333; }



/* ------------------------------------------------------------------ Widgets */
.widget { margin-bottom: 20px; }
.widget-title { font-size: 1.6em; border-bottom: 1px solid #e6e6e6; margin: 0 0 10px; padding: 5px 0; }
.widget ul { font-size: 1.4em; line-height: 1.6; }

/* Sidebars widgets style */
#left-sidebar .widget, #right-sidebar .widget { border: 4px solid #e6e6e6; margin: 0 0 20px; padding: 10px; }
#left-sidebar .widget ul li, #right-sidebar .widget ul li { background:  url(../images/list_icon.gif) no-repeat 0 6px; padding-left: 10px; }
#left-sidebar .widget ul li .children, #right-sidebar .widget ul li .children { font-size: inherit; }
#left-sidebar .widget .widget-title, #right-sidebar .widget .widget-title { border-bottom: 1px solid #e6e6e6; padding-bottom: 5px; margin-bottom: 5px; }
#footer .widget { min-height: 200px; }
#footer .widget_calendar td a { background: #333; }



/* --------------------------------------------------------------- Widget_Rss */
.widget_rss {}
.widget_rss ul {}
.widget_rss ul li {}
.widget_rss ul li a.rsswidget {}



/* ---------------------------------------------------------- Widget_Archives */
.widget_archive {}
.widget_archive ul {}
.widget_archive ul li {}



/* ---------------------------------------------------------- Widget_Nav_Menu */
.widget_nav_menu {}
.widget_nav_menu .menu {}
.widget_nav_menu .menu .menu-item {}
.widget_nav_menu .menu .menu-item-type-post_type {}
.widget_nav_menu .menu .menu-item a, .widget_nav_menu .menu .menu-item-type-post_type a {}



/* -------------------------------------------------------- Widget_Categories */
.widget_categories {}
.widget_categories ul {}
.widget_categories ul li.cat-item {}
.widget_categories ul li.cat-item a {}



/* --------------------------------------------------------- Widgets_Calendar */
.widget_calendar {}
.widget_calendar table { width: 100%; }
.widget_calendar table caption { font-size: 1.2em; }
.widget_calendar table th { text-align: center; font-size: 1.3em; }
.widget_calendar table td { text-align: center; font-size: 1.3em; }
.widget_calendar table td a { background: #F3F3F3; display: block; }
.widget_calendar table #prev { text-align: left; }
.widget_calendar table #next { text-align: right; }



/* --------------------------------------------------------- Widget_Tag_Cloud */
.widget_tag_cloud {}
.widget_tag_cloud a {}



/* -------------------------------------------------------------- Widget_Text */
.widget_text {}
.widget_text .textwidget {}



/* ------------------------------------------------------------ Widgets_Pages */
.widget_pages {}
.widget_pages li.page_item { font-size: inherit; }
.widget_pages li.page_item a {}
.widget_pages li.page_item ul.children { font-size: inherit; }
.widget_pages li.page_item ul.children li {}
.widget_pages li.page_item ul.children li a {}



/* -------------------------------------------------------------- Widget_Meta */
.widget_meta {}
.widget_meta ul {}
.widget_meta ul li {}



/* ------------------------------------------------------------- Widget_Links */
.widget_links {}
.widget_links ul.blogroll {}
.widget_links ul.blogroll li {}
.widget_links ul.blogroll li a {}



/* --------------------------------------------------- Widget_Recent_Comments */
.widget_recent_comments {}
.widget_recent_comments ul#recentcomments {}
.widget_recent_comments ul#recentcomments li.recentcomments {}



/* ---------------------------------------------------- Widget_Recent_Entries */
.widget_recent_entries {}
.widget_recent_entries ul {}
.widget_recent_entries ul li {}



/* ------------------------------------------------------------ Widget_Search */
.widget_search {}
.widget_search #searchform {}
.widget_search #searchform #search-text {}
.widget_search #searchform #search-submit {}



/* --------------------------------------------------------- ThreadedComments */
.comment-title { font-size: 1.8em; }
ol.commentlist { list-style:none; margin:0; padding:0; text-indent:0; }
ol.commentlist li { border:1px solid #d5d5d5; border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px; height:1%; margin:0 0 10px; padding:5px 7px 5px 57px; position:relative; }
ol.commentlist li.even { background:#fff; }
ol.commentlist li.odd { background:#fffef2; }
ol.commentlist li.alt {}
ol.commentlist li.bypostauthor {}
ol.commentlist li.byuser {}
ol.commentlist li.comment-author-admin { background: #f9fff2; }
ol.commentlist li.comment {}
ol.commentlist .respond {}
ol.commentlist li div.comment-author { padding:0 170px 0 0; }
ol.commentlist li div.vcard { font:bold 14px/1.4 helvetica,arial,sans-serif; }
ol.commentlist li div.vcard cite.fn { font-style:normal; }
ol.commentlist li div.vcard cite.fn a.url { color:#c00; text-decoration:none; }
ol.commentlist li div.vcard cite.fn a.url:hover { color:#000; }
ol.commentlist li div.vcard img.avatar { border:5px solid #d5d5d5; left:7px; position:absolute; top:7px; }
ol.commentlist li div.vcard img.avatar-32 {}
ol.commentlist li div.vcard img.photo {}
ol.commentlist li div.vcard span.says {}
ol.commentlist li div.commentmetadata {}
ol.commentlist li div.comment-meta { font:bold 1.2em helvetica,arial,sans-serif; position:absolute; right:10px; text-align:right; top:5px; }
ol.commentlist li div.comment-meta a { color:#0f2b4d; text-decoration:none; }
ol.commentlist li div.comment-meta a:hover { color:#000; }
ol.commentlist li p { font:normal 12px/1.4 helvetica,arial,sans-serif; margin:0 0 1em; }
ol.commentlist li ul { font: inherit; }
ol.commentlist li div.reply { background:#999; border:1px solid #666; border-radius:2px; -moz-border-radius:2px; -webkit-border-radius:2px; color:#fff; font:bold 9px/1 helvetica,arial,sans-serif; padding:5px 10px;  text-align:center; width:36px; }
ol.commentlist li div.reply:hover { background:#ABABAB; border:1px solid #999; }
ol.commentlist li div.reply a { color:#fff; text-decoration:none; text-transform:uppercase; }
ol.commentlist li ul.children { list-style:none; margin:1em 0 0; text-indent:0; }
ol.commentlist li ul.children li {}
ol.commentlist li ul.children li.odd { background: #f3f3f3; }
ol.commentlist li ul.children li.even { background: #FFF; }
ol.commentlist li ul.children li.alt {}
ol.commentlist li ul.children li.bypostauthor {}
ol.commentlist li ul.children li.byuser {}
ol.commentlist li ul.children li.comment {}
ol.commentlist li ul.children li .comment-meta { font-size: inherit; }
ol.commentlist li ul.children li.comment-author-admin {}
ol.commentlist li ul.children li.depth-2 { margin:0 0 .25em; }
ol.commentlist li ul.children li.depth-3 { margin:0 0 .25em; }
ol.commentlist li ul.children li.depth-4 { margin:0 0 .25em; }
ol.commentlist li ul.children li.depth-5 {}
ol.commentlist li.parent {}
ol.commentlist li.pingback {}
ol.commentlist li.pingback.parent {}
ol.commentlist li.pingback div.vcard { padding:0 170px 0 0; }
ol.commentlist li.thread-alt {}
ol.commentlist li.thread-even {}
ol.commentlist li.thread-odd {}

#respond {}
#respond h3 { font-size: 1.8em; }
#respond #commentform {}
#respond #commentform #comment-meta { border-bottom: 1px solid #e6e6e6; border-top: 1px solid #e6e6e6; font-size: 1.4em; padding: 10px; margin-bottom: 10px; background: #F9F9F9; }
#respond #commentform #comment-meta a { font-weight: bold; }
#respond #commentform #comment-content { width: 95%; }
#respond #commentform #submit { color: #FFF; padding: 10px; border-top: 1px solid #9f9f9f; border-left: 1px solid #9f9f9f; border-right: 1px solid #3f3f3f; border-bottom: 1px solid #3f3f3f; background: #bfbfbf; font-size: 1.8em; cursor: pointer; }
#respond #commentform #submit:hover { background: #0f2b4d; }

