@charset "utf-8";
/**
 * custom search page stylesheet.
 *
 * @File: search.css
 * @Project:
 * @Auth:
 * @make:
 * @URL:
 */
/* custom search page style here. */
/* Search result count */
#search-result-count {
    font-size: 1.3em;
    margin-bottom: 10px;
}
#search-result-count span {
    font-weight: bold;
}
